USE [master]
GO
/****** Object:  Database [uk_management]    Script Date: 07.05.2026 1:20:41 ******/
CREATE DATABASE [uk_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uk_management', FILENAME = N'/var/opt/mssql/data/uk_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uk_management_log', FILENAME = N'/var/opt/mssql/data/uk_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uk_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uk_management]
GO
/****** Object:  Table [dbo].[House]    Script Date: 07.05.2026 1:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[house_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[floors] [int] NULL,
	[construction_year] [int] NULL,
	[total_area] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[house_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartment]    Script Date: 07.05.2026 1:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartment](
	[apartment_id] [int] IDENTITY(1,1) NOT NULL,
	[house_id] [int] NOT NULL,
	[number] [nvarchar](10) NOT NULL,
	[total_area] [decimal](8, 2) NULL,
	[rooms] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[apartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalAccount]    Script Date: 07.05.2026 1:20:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalAccount](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[apartment_id] [int] NOT NULL,
	[owner_fio] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[open_date] [date] NULL,
	[is_active] [bit] NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_account_full]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 5. ПРЕДСТАВЛЕНИЯ (VIEWS) ДЛЯ УДОБСТВА ОТЧЁТОВ
-- =====================================================

-- Полная информация по лицевому счёту с адресом
CREATE VIEW [dbo].[v_account_full] AS
SELECT 
    pa.account_id,
    pa.owner_fio,
    pa.phone,
    pa.email,
    a.number AS apartment_number,
    a.total_area AS apartment_area,
    h.address AS house_address,
    h.floors,
    pa.is_active,
    pa.open_date
FROM PersonalAccount pa
INNER JOIN Apartment a ON pa.apartment_id = a.apartment_id
INNER JOIN House h ON a.house_id = h.house_id;

GO
/****** Object:  Table [dbo].[MeterDevice]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterDevice](
	[meter_id] [int] IDENTITY(1,1) NOT NULL,
	[account_iаd] [int] NOT NULL,
	[service_type] [nvarchar](10) NOT NULL,
	[serial_number] [nvarchar](50) NOT NULL,
	[install_date] [date] NULL,
	[next_check_date] [date] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[meter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeterReading]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeterReading](
	[reading_id] [int] IDENTITY(1,1) NOT NULL,
	[meter_id] [int] NOT NULL,
	[reading_date] [date] NOT NULL,
	[value] [decimal](12, 3) NOT NULL,
	[source] [nvarchar](20) NULL,
	[confirmed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[reading_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_last_meter_readings]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Сводка по последним показаниям каждого активного счётчика
CREATE VIEW [dbo].[v_last_meter_readings] AS
WITH RankedReadings AS (
    SELECT 
        m.meter_id,
        m.service_type,
        pa.account_id,
        pa.owner_fio,
        mr.reading_date,
        mr.value,
        ROW_NUMBER() OVER (PARTITION BY m.meter_id ORDER BY mr.reading_date DESC) AS rn
    FROM MeterDevice m
    INNER JOIN PersonalAccount pa ON m.account_id = pa.account_id
    INNER JOIN MeterReading mr ON m.meter_id = mr.meter_id
    WHERE m.is_active = 1
)
SELECT meter_id, service_type, account_id, owner_fio, reading_date, value
FROM RankedReadings
WHERE rn = 1;

GO
/****** Object:  Table [dbo].[RequestType]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestType](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NULL,
	[norm_hours] [int] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[appointed_master] [nvarchar](100) NULL,
	[completed_at] [datetime2](7) NULL,
	[rating] [smallint] NULL,
	[comment_close] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_open_requests]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Отчёт по открытым заявкам
CREATE VIEW [dbo].[v_open_requests] AS
SELECT 
    r.request_id,
    rt.name AS request_type,
    r.description,
    r.status,
    r.created_at,
    v.owner_fio,
    v.house_address,
    v.apartment_number,
    v.phone
FROM Request r
INNER JOIN RequestType rt ON r.type_id = rt.type_id
INNER JOIN v_account_full v ON r.account_id = v.account_id
WHERE r.status NOT IN (N'Закрыта', N'Отклонена');

GO
/****** Object:  Table [dbo].[Accrual]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accrual](
	[accrual_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[service_type] [nvarchar](10) NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[period] [date] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Accrual] PRIMARY KEY CLUSTERED 
(
	[accrual_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[comment] [nvarchar](255) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.05.2026 1:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accrual] ON 

INSERT [dbo].[Accrual] ([accrual_id], [account_id], [service_type], [amount], [period], [created_at]) VALUES (1, 1, N'Содержание', CAST(1200.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-05-06T20:15:22.7866667' AS DateTime2))
INSERT [dbo].[Accrual] ([accrual_id], [account_id], [service_type], [amount], [period], [created_at]) VALUES (2, 1, N'ХВС', CAST(350.50 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-05-06T20:15:22.7866667' AS DateTime2))
INSERT [dbo].[Accrual] ([accrual_id], [account_id], [service_type], [amount], [period], [created_at]) VALUES (3, 1, N'ГВС', CAST(480.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-05-06T20:15:22.7866667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Accrual] OFF
GO
SET IDENTITY_INSERT [dbo].[Apartment] ON 

INSERT [dbo].[Apartment] ([apartment_id], [house_id], [number], [total_area], [rooms]) VALUES (1, 1, N'1', CAST(45.50 AS Decimal(8, 2)), 1)
INSERT [dbo].[Apartment] ([apartment_id], [house_id], [number], [total_area], [rooms]) VALUES (2, 1, N'2', CAST(62.30 AS Decimal(8, 2)), 2)
INSERT [dbo].[Apartment] ([apartment_id], [house_id], [number], [total_area], [rooms]) VALUES (3, 1, N'3', CAST(72.10 AS Decimal(8, 2)), 3)
SET IDENTITY_INSERT [dbo].[Apartment] OFF
GO
SET IDENTITY_INSERT [dbo].[House] ON 

INSERT [dbo].[House] ([house_id], [address], [floors], [construction_year], [total_area]) VALUES (1, N'ул. Ленина, 5', 9, 1985, CAST(4320.50 AS Decimal(10, 2)))
INSERT [dbo].[House] ([house_id], [address], [floors], [construction_year], [total_area]) VALUES (2, N'ул. Мира, 12', 5, 2002, CAST(2850.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[House] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterDevice] ON 

INSERT [dbo].[MeterDevice] ([meter_id], [account_iаd], [service_type], [serial_number], [install_date], [next_check_date], [is_active]) VALUES (1, 1, N'ХВС', N'ХВС-001', CAST(N'2025-01-20' AS Date), CAST(N'2029-01-20' AS Date), 1)
INSERT [dbo].[MeterDevice] ([meter_id], [account_iаd], [service_type], [serial_number], [install_date], [next_check_date], [is_active]) VALUES (2, 1, N'ГВС', N'ГВС-001', CAST(N'2025-01-20' AS Date), CAST(N'2029-01-20' AS Date), 1)
INSERT [dbo].[MeterDevice] ([meter_id], [account_iаd], [service_type], [serial_number], [install_date], [next_check_date], [is_active]) VALUES (3, 1, N'ЭЭ', N'ЭЭ-001', CAST(N'2025-01-20' AS Date), CAST(N'2031-01-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[MeterDevice] OFF
GO
SET IDENTITY_INSERT [dbo].[MeterReading] ON 

INSERT [dbo].[MeterReading] ([reading_id], [meter_id], [reading_date], [value], [source], [confirmed]) VALUES (1, 1, CAST(N'2025-02-01' AS Date), CAST(120.500 AS Decimal(12, 3)), N'Житель', 1)
INSERT [dbo].[MeterReading] ([reading_id], [meter_id], [reading_date], [value], [source], [confirmed]) VALUES (2, 1, CAST(N'2025-03-01' AS Date), CAST(125.300 AS Decimal(12, 3)), N'Житель', 1)
INSERT [dbo].[MeterReading] ([reading_id], [meter_id], [reading_date], [value], [source], [confirmed]) VALUES (3, 1, CAST(N'2025-04-01' AS Date), CAST(130.100 AS Decimal(12, 3)), N'Житель', 1)
SET IDENTITY_INSERT [dbo].[MeterReading] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [account_id], [amount], [payment_date], [comment]) VALUES (1, 1, CAST(2000.00 AS Decimal(10, 2)), CAST(N'2026-02-10T00:00:00.0000000' AS DateTime2), N'Оплата за январь')
INSERT [dbo].[Payment] ([payment_id], [account_id], [amount], [payment_date], [comment]) VALUES (2, 2, CAST(3000.00 AS Decimal(10, 2)), CAST(N'2026-01-20T00:00:00.0000000' AS DateTime2), N'Аванс')
INSERT [dbo].[Payment] ([payment_id], [account_id], [amount], [payment_date], [comment]) VALUES (3, 3, CAST(3800.00 AS Decimal(10, 2)), CAST(N'2026-01-25T00:00:00.0000000' AS DateTime2), N'Полная оплата')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonalAccount] ON 

INSERT [dbo].[PersonalAccount] ([account_id], [apartment_id], [owner_fio], [phone], [email], [open_date], [is_active], [comment]) VALUES (1, 1, N'Иванов Иван Иванович', N'+79161234567', N'ivanov@mail.ru', CAST(N'2025-01-15' AS Date), 1, NULL)
INSERT [dbo].[PersonalAccount] ([account_id], [apartment_id], [owner_fio], [phone], [email], [open_date], [is_active], [comment]) VALUES (2, 2, N'Петрова Анна Сергеевна', N'+79169876543', N'petrova@mail.ru', CAST(N'2024-08-20' AS Date), 1, N'Пенсионер')
INSERT [dbo].[PersonalAccount] ([account_id], [apartment_id], [owner_fio], [phone], [email], [open_date], [is_active], [comment]) VALUES (3, 3, N'Кучукбаев Эльмир Ринатович', N'+79270001122', N'kuchuk@mail.ru', CAST(N'2025-03-01' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[PersonalAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([request_id], [account_id], [type_id], [description], [status], [created_at], [appointed_master], [completed_at], [rating], [comment_close]) VALUES (1, 1, 1, N'Течёт труба под раковиной на кухне, подставьте ведро, срочно.', N'В работе', CAST(N'2026-01-20T09:15:00.0000000' AS DateTime2), N'Смирнов П.А.', NULL, NULL, NULL)
INSERT [dbo].[Request] ([request_id], [account_id], [type_id], [description], [status], [created_at], [appointed_master], [completed_at], [rating], [comment_close]) VALUES (2, 1, 2, N'Не крутится счётчик ХВС, пора менять.', N'Выполнена', CAST(N'2026-01-10T14:30:00.0000000' AS DateTime2), N'Козлов В.В.', CAST(N'2026-01-15T11:00:00.0000000' AS DateTime2), 5, N'Работа выполнена отлично, спасибо.')
INSERT [dbo].[Request] ([request_id], [account_id], [type_id], [description], [status], [created_at], [appointed_master], [completed_at], [rating], [comment_close]) VALUES (3, 1, 4, N'Розетка на кухне искрит, пользоваться опасно.', N'Новая', CAST(N'2026-04-25T17:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Request] OFF
GO
SET IDENTITY_INSERT [dbo].[RequestType] ON 

INSERT [dbo].[RequestType] ([type_id], [name], [category], [norm_hours], [description]) VALUES (1, N'Протечка трубы (сантехник)', N'Сантехника', 4, N'Устранение течи водопроводных труб, замена участка')
INSERT [dbo].[RequestType] ([type_id], [name], [category], [norm_hours], [description]) VALUES (2, N'Замена счётчика воды', N'Сантехника', 2, N'Демонтаж старого и установка нового счётчика воды (ХВС/ГВС)')
INSERT [dbo].[RequestType] ([type_id], [name], [category], [norm_hours], [description]) VALUES (3, N'Замена электропроводки', N'Электрика', 8, N'Частичная или полная замена проводки в квартире')
SET IDENTITY_INSERT [dbo].[RequestType] OFF
GO
INSERT [dbo].[Role] ([RoleName]) VALUES (N'Администратор')
INSERT [dbo].[Role] ([RoleName]) VALUES (N'Клиент')
INSERT [dbo].[Role] ([RoleName]) VALUES (N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [RoleName]) VALUES (1, N'Зуев', N'Роман', N'Алексеевич', N'ZUEV', N'ROMAN', N'Администратор')
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [RoleName]) VALUES (2, N'Дворников', N'Даниил', N'Витальевич', N'DVOR', N'DAN', N'Менеджер')
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [RoleName]) VALUES (10, N'Кучукбаев', N'Эльмир', N'Ринатович', N'KUCHUK', N'EL', N'Клиент')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Apartment_House_Number]    Script Date: 07.05.2026 1:20:42 ******/
ALTER TABLE [dbo].[Apartment] ADD  CONSTRAINT [UQ_Apartment_House_Number] UNIQUE NONCLUSTERED 
(
	[house_id] ASC,
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Apartment_HouseId]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_Apartment_HouseId] ON [dbo].[Apartment]
(
	[house_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MeterDevice_Account_Service_Active]    Script Date: 07.05.2026 1:20:42 ******/
ALTER TABLE [dbo].[MeterDevice] ADD  CONSTRAINT [UQ_MeterDevice_Account_Service_Active] UNIQUE NONCLUSTERED 
(
	[account_iаd] ASC,
	[service_type] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterDevice_AccountId]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_MeterDevice_AccountId] ON [dbo].[MeterDevice]
(
	[account_iаd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_MeterReading_Meter_Date]    Script Date: 07.05.2026 1:20:42 ******/
ALTER TABLE [dbo].[MeterReading] ADD  CONSTRAINT [UQ_MeterReading_Meter_Date] UNIQUE NONCLUSTERED 
(
	[meter_id] ASC,
	[reading_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MeterReading_MeterId_Date]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_MeterReading_MeterId_Date] ON [dbo].[MeterReading]
(
	[meter_id] ASC,
	[reading_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Personal__DC51C2ED731C4AE2]    Script Date: 07.05.2026 1:20:42 ******/
ALTER TABLE [dbo].[PersonalAccount] ADD UNIQUE NONCLUSTERED 
(
	[apartment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PersonalAccount_OwnerFIO]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_PersonalAccount_OwnerFIO] ON [dbo].[PersonalAccount]
(
	[owner_fio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_AccountId]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_Request_AccountId] ON [dbo].[Request]
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_CreatedAt]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_Request_CreatedAt] ON [dbo].[Request]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Request_Status]    Script Date: 07.05.2026 1:20:42 ******/
CREATE NONCLUSTERED INDEX [IX_Request_Status] ON [dbo].[Request]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RequestT__72E12F1B18DC171E]    Script Date: 07.05.2026 1:20:42 ******/
ALTER TABLE [dbo].[RequestType] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accrual] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MeterDevice] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT (CONVERT([date],getdate())) FOR [reading_date]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT (N'Житель') FOR [source]
GO
ALTER TABLE [dbo].[MeterReading] ADD  DEFAULT ((0)) FOR [confirmed]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[PersonalAccount] ADD  DEFAULT (CONVERT([date],getdate())) FOR [open_date]
GO
ALTER TABLE [dbo].[PersonalAccount] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Request] ADD  DEFAULT (N'Новая') FOR [status]
GO
ALTER TABLE [dbo].[Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD  CONSTRAINT [FK_Accrual_PersonalAccount] FOREIGN KEY([account_id])
REFERENCES [dbo].[PersonalAccount] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accrual] CHECK CONSTRAINT [FK_Accrual_PersonalAccount]
GO
ALTER TABLE [dbo].[Apartment]  WITH CHECK ADD FOREIGN KEY([house_id])
REFERENCES [dbo].[House] ([house_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeterDevice]  WITH CHECK ADD FOREIGN KEY([account_iаd])
REFERENCES [dbo].[PersonalAccount] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD FOREIGN KEY([meter_id])
REFERENCES [dbo].[MeterDevice] ([meter_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PersonalAccount] FOREIGN KEY([account_id])
REFERENCES [dbo].[PersonalAccount] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PersonalAccount]
GO
ALTER TABLE [dbo].[PersonalAccount]  WITH CHECK ADD FOREIGN KEY([apartment_id])
REFERENCES [dbo].[Apartment] ([apartment_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[PersonalAccount] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[RequestType] ([type_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleName])
REFERENCES [dbo].[Role] ([RoleName])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Accrual]  WITH CHECK ADD  CONSTRAINT [CK_Accrual_ServiceType] CHECK  (([service_type]=N'Капремонт' OR [service_type]=N'Содержание' OR [service_type]=N'Отопление' OR [service_type]=N'ЭЭ' OR [service_type]=N'ГВС' OR [service_type]=N'ХВС'))
GO
ALTER TABLE [dbo].[Accrual] CHECK CONSTRAINT [CK_Accrual_ServiceType]
GO
ALTER TABLE [dbo].[Apartment]  WITH CHECK ADD CHECK  (([total_area]>(0)))
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD CHECK  (([floors]>(0)))
GO
ALTER TABLE [dbo].[MeterDevice]  WITH CHECK ADD CHECK  (([service_type]=N'Отопление' OR [service_type]=N'ЭЭ' OR [service_type]=N'ГВС' OR [service_type]=N'ХВС'))
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD CHECK  (([source]=N'Автоматически' OR [source]=N'Контролёр' OR [source]=N'Житель'))
GO
ALTER TABLE [dbo].[MeterReading]  WITH CHECK ADD CHECK  (([value]>=(0)))
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD CHECK  (([status]=N'Отклонена' OR [status]=N'Закрыта' OR [status]=N'Выполнена' OR [status]=N'В работе' OR [status]=N'Назначена' OR [status]=N'Новая'))
GO
ALTER TABLE [dbo].[RequestType]  WITH CHECK ADD CHECK  (([category]=N'Прочее' OR [category]=N'Общедомовые' OR [category]=N'Электрика' OR [category]=N'Сантехника'))
GO
ALTER TABLE [dbo].[RequestType]  WITH CHECK ADD CHECK  (([norm_hours]>(0)))
GO
USE [master]
GO
